<!DOCTYPE html>
<html>
    <head>
        <title> Tela cadastro </title>
    </head>

    <body>
        <form action = /cadastrar_cliente method= "post" > 
            
            <h1>Passo 1:</h1>
            Nome comleto: <input type = "text" name = nome> <br>
            CPF: <input type="text" name = cpf> <br>
            E-mail: <input type="text" name = email> <br>
            Usuário: <input type="text" name = user> <br>
            Senha: <input type="password" name = senha> <br>

            <button> Próximo passo </button>

        </form> 
    </body>
</html>
